aws_region    = "us-east-1"
project       = "taskflow"
environment   = "production"
vpc_cidr      = "10.30.0.0/16"
app_count     = 2
instance_type = "t3.medium"
db_password   = "CHANGE_ME_STRONG_PASSWORD"